#home{
    padding: 100px 0px;
}

.socials{
    position: absolute;
    width: 100px;
    height: 630px;
    top: 100px;
}

.verticalLine{
    height: 100%;
    width: 5px;
    border-radius: 20px;
    background-color:  #8D77AB;
    position: relative;
    left: 50%;
    transform: translateX(-50%);    
}

.underorder{
    position: absolute;
    top: 33%;
    left: -50%;
    transform: translateX(50%);    
    background-color: #F5EFFF;
    width: 100%;
    height: 220px; 
    border-radius: 50%; 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none; 

    padding: 0px;
    margin: 0px;
}

.naviButton{
    font-size: 25px;
    font-weight: 500;
    padding: 10px 50px;
    margin: 80px 5px;
    border-radius: 10px;
    border: transparent;

    background-color: #A294F9;
}

.icons{
    color: #8D77AB;
    font-size: 32px;
}


@media (max-Width: 768px) {
    .socials{
        visibility: hidden;
    }
}


const box  {
    width: 100;
    height: 100;
    background-color: "#ff0088";
    border-radius: 5;
}

.verticalLine{
    height: 100%;
}